{% extends 'registration/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">


<body>

    {% block content %}

    <center>
        <h2 class="heading">Change Password</h2>
    </center>

    <form class="form-container p-2 mt-4" method="POST">

        <div class="form-row">
            <div class="row justify-content-center" style="width:50%;margin:0% 25%;">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <input type="text" name="new_password" placeholder="Enter new password" class="form-control"><br>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <input type="text" name="reconfirm_password" placeholder="Re-Enter Password" class="form-control"><br><br>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <input type="hidden" name="user_id" value="{{user_id}}">
                </div>

                {% if messages %}
                {% for message in messages %}

                <center class="p-2 text-danger">{{message}}</center>

                {% endfor %}
                {% endif %}

                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <center><button class="btn btn-primary btn-md mb-4" type="submit">Submit</button>
                </div>
            </div>

        </div>

        {% csrf_token %}
    </form>
    {% endblock content %}



</body>

</html>