{% extends 'registration/base.html' %}
{% load static %}




<body>


    {% block content %}

    <center>
        <h2 class="heading">Forgot Password</h2><br>
    </center>

    <form class="form-container p-2 mt-4" method="POST">




        <div class="form-row">
            <div class="row justify-content-center input-form">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <input class="form-control" type="text" name="username" placeholder="Enter Username" required><br>
                </div>
                {% if messages %}
                {% for message in messages %}

                <center class="p-2 text-danger m-3">{{message}}</center>

                {% endfor %}
                {% endif %}

                <div class="col-6">
                    <a href="/" style="width:100%;" class="btn btn-danger btn-md mb-4"><strong>Back</strong></a>
                </div>

                <div class="col-6">
                    <input style="font-weight:5px;" class="btn btn-block btn-success btn-md mb-4" type="submit">
                </div>




            </div>

        </div>

        {% csrf_token %}
    </form>
    {% endblock content %}


</body>

</html>